body {
    background-color: #008550;
    background-image: url("3px-tile.png");
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

#calc-container {
    background-color: #a7ff75bf;
    border: 3px solid black;
    border-radius: 1em;
    padding: 1em;
    padding-top: 0;
    width: fit-content;
    text-align: center;
}

#fields div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#fields div span {
    padding-right: 10px;
}
#fields div input {
    max-width: 8em;
}